*{
    padding: 0;
    margin: 0;
}
.header{
    height: 100vh;
    /* background: linear-gradient(270deg, rgb(255 0 0 / 44%) , #ff8d00);*/
    background: linear-gradient(#cc6565, blue 381px);
}
.first{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
    left: 80%;
    color: white;
}
.first i {
    padding: 0 5px;
    color: blue;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.charts{
    display: flex;
    width: 600px;
}
.mac{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: -28px;
    -webkit-box-reflect: below -10px linear-gradient(#b2b0b0a3, #ff232324);
}
.screen{
    display: flex;
    height: 150px;
    width: 248px;
    background-color: #000000d9;
    border: 10px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 2;
}
.support{
    text-align: center;
    height: 25px;
    background-color: black;
    width: 268px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
    z-index: 2;
}
.stand{
    height: 52px;
    width: 52px;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    top: -26px;
}
.stand::before{
    left: 4px;
    content: "";
    position: absolute;
    height: 105%;
    width: 63px;
    background: linear-gradient(45deg, #998888, #939393ed);
    top: 32px;
    border-radius: 7px;
    transform: rotate3d(3, 5, -7, 121deg);
}
.left{
    height: 150px;
    width: 100px;
    background-color: rgb(104 74 155 / 86%);
}
.rash1{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 10px;
    width: 60px;
    background-color: grey;
}
.rash2{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    width: 60px;
    margin-left: 20px;
    background-color: grey;
}
.rash3{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 11px;
    width: 60px;
    background-color: grey;
}
.rash4{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 21px;
    width: 60px;
    background-color: grey;
}
.rash8{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 9px;
    width: 60px;
    background-color: grey;
}
.rash5{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 33px;
    width: 60px;
    background-color: grey;
}
.rash6{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 17px;
    width: 60px;
    background-color: grey;
}
.rash7{
    border-radius: 12px;
    height: 10px;
    margin: 10px 0;
    margin-left: 4px;
    width: 60px;
    background-color: grey;
}
.right{
    height: 150px;
    width: 147px;
    background-color: #534d4d;
}
.hash{
    height: 10px;
    width: 130px;
    border-radius: 12px;
    background-color: grey;
    margin: 6px 10px;
}
.rollout{
    left: 89px;
    top: -16px;
    width: 40px;
    border-radius: 12px;
    height: 10px;
    position: relative;
    margin: 6px 10px;
    background-color: grey;
}
.hash-1{
    margin: 13px 10px;
}
.hash-2{
    margin: 20px 10px;
}
.hash-4{
    margin-top: 20px;
    width: 80px;
}
.hash-5{
    margin: 3px 10px;
}
.fa{
    z-index: 3;
}
.fa-html5{
    position: relative;
    font-size: 30px;
    color: orangered;
    left: 147px;
    background-color: white;
    padding: 7px 11px;
    border-radius: 50%;
}
.fa-css3{
    position: relative;
    font-size: 30px;
    top: 154px;
    color: orangered;
    left: 381px;
    background-color: white;
    padding: 7px 7px;
    border-radius: 50%;
}
.fa-android{
    position: relative;
    font-size: 30px;
    top: 106px;
    color: rgb(23, 216, 23);
    left: 61px;
    padding: 7px 10px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid;
}
.logo{
    position: relative;
    font-size: 30px;
    top: 6px;
    color: black;
    left: 301px;
    background-color: white;
    padding: 7px 10px;
    border-radius: 50%;
}
.mouse{
    height: 44px;
    width: 30px;
    background: linear-gradient(45deg, #ffffff, #937575);
    border-radius: 15px;
    position: relative;
    left: 200px;
    top: 230px;
    transform: rotate3d(1, 4, 2, 200deg);
}
.line{
    color: white;
    font-size: 34px;
    margin: 0 -20px;
    margin-top: 73px;
}